.three-column-container {
    display: flex;
}

.three-column-container .column {
    color: whitesmoke;
    font-size: 24px;
    
    flex: 5;

    display: flex;
    flex-direction: column;
    text-align: center;

    transition: flex .5s;
}

.three-column-container .row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.three-column-container .item {
    /*flex: 1;*/
    /*border: solid crimson 1px;*/
}

.three-column-container .box1 {
    background:#3498db;
}

.three-column-container .box2 {
    background:#9b59b6;
}

.three-column-container .box3 {
    background:#34495e;
    flex: 10;
}

.three-column-container.column.narrow {
    flex: 1;
}

